body {
  background: linear-gradient(to right, #757f9a, #d7dde8);
  width: 100vw;
  height: 100vh;
}
.outer_container {
  display: flex;
  justify-content: center;
  text-align: center;
}
.inner_container {
  text-align: center;
  box-shadow: 0px 0px 30px black;
  position: relative;
  background: linear-gradient(to right, #e55d87, #5fc3e4);
  border-radius: 8px;
  padding: 10px;
  width: 310px;
}
.header {
  font-size: 45px;
  font-family: fantasy;
  letter-spacing: 10px;
  margin-bottom: -10px;
}
.input_container {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 17px;
}

.output_container {
  border-radius: 10px;
  background-color: rgb(197, 197, 197);
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-evenly;
  align-items: center;
  height: 200px;
}

input {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 5px solid black;
  outline: none;
  border-radius: 5px;
  padding: 4px;
  width: 7rem;
  font-size: 2.2rem;
  text-align: center;
  background-color: rgba(255, 255, 255, 0);
}
#input1,
#input1::placeholder {
  color: white;
}

#input2,
#input2::placeholder {
  color: #e55d87;
  position: relative;
  transition: all;
  transition-duration: 0.5s;
}
#input2:hover {
  position: absolute;
  width: 15rem;
  top: 66%;
  background-color: rgb(197, 197, 197);
}
.button_div {
  cursor: pointer;
  position: absolute;
  top: 44.5%;
  right: 20%;
}
.button_div button {
  outline: none;
  border: 2px solid black;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0);
  font-size: 3.5rem;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button_div button:hover {
  color: rgb(78, 78, 78);
  /* background-color:  black; */
  box-shadow: 0px 0px 20px black;
}

.form-select {
  border-width: 2px;
  background-color: rgba(255, 255, 255, 0);
  width: 80%;
  padding: 0.375rem 2rem 0.375rem 0.75rem;
}
.head {
  font-size: 230%;
  font-weight: 300;
  display: flex;
  justify-content: center;
  letter-spacing: 10px;
  text-shadow: 3px 0px 3px black;
}
#Select_2 {
  border-top: 2px solid #e55d87;
  border-left: 2px solid #e55d87;
  border-right: 2px solid #5fc3e4;
  border-bottom: 2px solid #5fc3e4;
}
.option_1 {
  background-color: black;
  color: #5fc3e4;
}
.option_2 {
  background-color: black;
  color: rgb(197, 197, 197);
}
.open-nav {
  text-align: start;
}
.navbar-nav .nav-link {
  padding-left: 10px;
}

.navbar-brand {
  font-size: 1rem;
  font-family: sans-serif;
  margin-right: 5rem;
}
.fa-ruler-vertical {
  color: white;
  margin-right: 10px;
}
.fa-weight-hanging {
  color: white;
  margin-right: 8px;
}
.fa-home {
  color: white;
  margin-right: 8px;
}
.unit_div {
  font-size: 2rem;
  margin-right: 7px;
  font-weight: bold;
  width: 15%;
}
@media only screen and (max-width: 450px) {
  .outer_container {
    margin-top: 3rem;
  }
  .head {
    margin-top: 1rem;
  }
}
